/* shaw */
/* Esta clase se usa para los parrafos de texto */
body{
    background-color: #111111;
    margin: 0;
    
}

@font-face {
    font-family: 'Trajan';
    src: url(/media/TrajanPro-Regular.ttf);
}

@font-face {
    font-family: 'Perpetua';
    src: url(/media/perpetua.ttf);
}
.Texto_Generico{
    text-align: justify;
    color: white;
    font-family: 'Perpetua';
    font-size: 2rem;
}

header{
    text-align: center;
}

.silksong{
    width: 100%;
    height: auto;
}

.margen{
    margin: 15px 40px;
    padding: 15px;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: white;
    font-family: 'Trajan';
}

.critica {
    text-align: end;
}
.blasones{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
div .blasones img{
    width: auto;
    height: 15%;
}